code/Drivesafe.json
[{"id":"827d3a54.f079f8","type":"camerapi-takephoto","z":"2d92cbcd.047714","filemode":"0","filename":"test.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"10","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":270.99999237060547,"y":241.99997520446777,"wires":[["46571f5f.493d8","f42cbac7.495368"]]},{"id":"783d6db0.2d5a54","type":"ui_template","z":"2d92cbcd.047714","group":"2eabe9c0.5a4cc6","name":"","order":2,"width":0,"height":0,"format":"<script>\nvar value = \"1\";\n// or overwrite value in your callback function ...\nthis.scope.action = function() { return value; }\n\nfunction updateF() {\n  var source = '/test.jpg',\n  timestamp = (new Date()).getTime(),\n  newUrl = source + '?_=' + timestamp;\n  document.getElementById(\"photo\").src = newUrl;\n}\n</script>\n\n<md-button ng-click=\"send({payload:action()})\" onclick=\"setTimeout(updateF, 2500);\" style=\"padding:40px; margin-bottom: 40px;\" >\n <ui-icon icon=\"camera\"></ui-icon>\n Take a photo<br>\n</md-button>\n\n<div style=\"margin-bottom:40px;\">\n <img src=\"/test.jpg\" id=\"photo\" width=\"100%\" height=\"100%\">\n</div>\n\n\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":81.20001602172852,"y":241.99998664855957,"wires":[["827d3a54.f079f8"]]},{"id":"9a6ba552.b6c768","type":"grove digital output","z":"2d92cbcd.047714","name":"LED","board":"e3dfd9d.eecbf28","pin":"8","x":1266.8431282043457,"y":308.77173614501953,"wires":[]},{"id":"6f6d9238.282afc","type":"ui_switch","z":"2d92cbcd.047714","name":"","label":"switch","tooltip":"","group":"2eabe9c0.5a4cc6","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1084.999927520752,"y":323.99995613098145,"wires":[["9a6ba552.b6c768","6f6c5535.64c53c","7016ae07.25441"]]},{"id":"6f6c5535.64c53c","type":"grove digital output","z":"2d92cbcd.047714","name":"Buzzer","board":"e3dfd9d.eecbf28","pin":"7","x":1272.0000114440918,"y":362.19995307922363,"wires":[]},{"id":"7016ae07.25441","type":"grove digital output","z":"2d92cbcd.047714","name":"Band","board":"e3dfd9d.eecbf28","pin":"5","x":1275.1358318328857,"y":417.3949398994446,"wires":[]},{"id":"279d46ed.593d3a","type":"visual-recognition-v3","z":"2d92cbcd.047714","name":"Watson - Analyze Image","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":549.071647644043,"y":540.2383136749268,"wires":[["39193358.34d67c"]]},{"id":"46571f5f.493d8","type":"change","z":"2d92cbcd.047714","name":"Set Custom Model","rules":[{"t":"set","p":"params[\"classifier_ids\"]","pt":"msg","to":"DefaultCustomModel_105856722","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":504.4772491455078,"y":336.4003438949585,"wires":[["279d46ed.593d3a"]]},{"id":"39193358.34d67c","type":"function","z":"2d92cbcd.047714","name":"Check For Classifier","func":"class1 = \"empty\";\nscore1=0\nclass0 = msg.result.images[0].classifiers[0].classes[0].class;\nscore0 = msg.result.images[0].classifiers[0].classes[0].score;\n/*if(msg.result.images[0].classifiers[0].classes[1] !== null)\n\n{\n    class1 = msg.result.images[0].classifiers[0].classes[1].class;\n    score1 = msg.result.images[0].classifiers[0].classes[1].score;\n}\n*/\nvar result = null;\nif (score0>=score1)\n\tcl = class0;\nelse\n\tcl = class1;\nif (cl === \"sleeping\")\n\tmsg.payload = 1;\nelse \n    msg.payload = -1;\nreturn msg;\n","outputs":1,"noerr":0,"x":790.8590278625488,"y":446.5395269393921,"wires":[["7ef90e26.dfe8"]]},{"id":"7ef90e26.dfe8","type":"switch","z":"2d92cbcd.047714","name":"If Present","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"-1","vt":"str"},{"t":"null"}],"checkall":"false","repair":false,"outputs":3,"x":875.0829582214355,"y":313.3426971435547,"wires":[["6f6d9238.282afc","25e33503.2f67fa","8d32fbf9.a9c698","72f551e5.be11b"],["72f551e5.be11b"],[]]},{"id":"f1475c4a.8863d","type":"sqlite","z":"2d92cbcd.047714","mydb":"a5dbc068.31a46","sqlquery":"msg.topic","sql":"","name":"Sql Insert","x":1074.3334007263184,"y":54.99999809265137,"wires":[["b309f740.05c428"]]},{"id":"8d32fbf9.a9c698","type":"change","z":"2d92cbcd.047714","name":"Add Timestamp","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":263.68896484375,"y":58.79998016357422,"wires":[["e7dc4537.6bdce8"]]},{"id":"e7dc4537.6bdce8","type":"moment","z":"2d92cbcd.047714","name":"Human Readable Format","topic":"","input":"timestamp","inputType":"msg","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH","locale":"en_US","output":"timestamp","outputType":"msg","outTz":"America/Los_Angeles","x":544.8000640869141,"y":58.24442195892334,"wires":[["cb09c344.0387c"]]},{"id":"cb09c344.0387c","type":"function","z":"2d92cbcd.047714","name":"Insert Hours ","func":"\nvar today = msg.timestamp;\nif (today > \"06\" && today <= \"12\") \n{\n   msg.topic = 'INSERT INTO driveSafe VALUES (1,0,0,0)';\n\t\n  \n } \n if (today > \"12\" && today <= \"18\") \n{\n\tmsg.topic = 'INSERT INTO driveSafe VALUES (0,1,0,0)';\n\t\n\t\n} \n if (today > \"18\" && today <=\"24\") \n{\n  msg.topic = 'INSERT INTO driveSafe VALUES (0,0,1,0)';\n//\tmsg.payload = [msg.timestamp, msg.binId];\n} \nif (today > \"00\" && today <=\"06\")\n{\n   msg.topic = 'INSERT INTO driveSafe VALUES (0,0,0,1)';\n\t//msg.payload = [msg.timestamp, msg.binId];\n} \nreturn msg;\n","outputs":1,"noerr":0,"x":836.189094543457,"y":56.466668128967285,"wires":[["f1475c4a.8863d"]]},{"id":"b309f740.05c428","type":"function","z":"2d92cbcd.047714","name":"Get Sum","func":"\nmsg.topic = \"SELECT SUM(sixam_twelvepm) as A ,SUM(twelvepm_sixpm) as B ,SUM (sixpm_twelveam) as C, SUM (twelveam_sixam)as D FROM driveSafe\";\nreturn msg;","outputs":1,"noerr":0,"x":1315.7268676757812,"y":55.35612487792969,"wires":[["43d5d85b.8754a8"]]},{"id":"43d5d85b.8754a8","type":"sqlite","z":"2d92cbcd.047714","mydb":"3e0f8eca.7d07b2","sqlquery":"msg.topic","sql":"SELECT SUM(sixam_twelvepm) as A ,SUM(twelvepm_sixpm) as B ,SUM (sixpm_twelveam) as C, SUM (twelveam_sixam)as D FROM driveSafe;","name":"GET","x":692.7777481079102,"y":152.66667079925537,"wires":[["c52cbcb6.bc204"]]},{"id":"c52cbcb6.bc204","type":"function","z":"2d92cbcd.047714","name":"extract A","func":"\nvar A = [];\nvar B = [];\nvar C = [];\nvar D = [];\nvar m = {};\n\n\nA.push(msg.payload[0].A);\nB.push(msg.payload[0].B);\nC.push(msg.payload[0].C);\nD.push(msg.payload[0].D);\n\n//m.labels = ['Time Wise Analysis'];\nm.series = ['6AM-12 PM','12PM-6PM','6PM-12PM','12PM-6AM'];\nm.data = [A,B,C,D];\n\nreturn {payload:[m]};\n\n","outputs":1,"noerr":0,"x":908.7603530883789,"y":149.50851345062256,"wires":[["1593105a.4bc29"]]},{"id":"b545c588.5e4368","type":"wiotp out","z":"2d92cbcd.047714","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"103ed3df.7b566c","deviceType":"","deviceId":"","event":"Drive-Safe","format":"json","qos":"","name":"Send to IBM Watsonn","x":1485.0000915527344,"y":233.00000858306885,"wires":[]},{"id":"25e33503.2f67fa","type":"function","z":"2d92cbcd.047714","name":"Notification","func":"var data = msg.payload;\nif (data<=20)\n{\n    msg.payload = \"Driver Mr. XXX with DL ABC1234 is drowsy\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1055.333293914795,"y":450.9999828338623,"wires":[["b6f1ca1a.655448"]]},{"id":"b6f1ca1a.655448","type":"delay","z":"2d92cbcd.047714","name":"Control Notifications","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1249.333366394043,"y":549.9999761581421,"wires":[["133377af.7a7638","3f1274e5.c948dc"]]},{"id":"3f1274e5.c948dc","type":"sms","z":"2d92cbcd.047714","name":"Send SMS via Twilio","message":"SMS : Driver is drowsy","numbers":"+12064998790","throttle":"1212","twilio":"fe2e39be.873108","x":1490.6669387817383,"y":444.99997901916504,"wires":[[]]},{"id":"133377af.7a7638","type":"e-mail","z":"2d92cbcd.047714","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"autouwt@gmail.com","dname":"Send Email Message.","x":1497.333396911621,"y":604.9999713897705,"wires":[]},{"id":"fe9f3354.b9373","type":"json","z":"2d92cbcd.047714","name":"","property":"payload","action":"","pretty":false,"x":1263.400001525879,"y":232.20003414154053,"wires":[["b545c588.5e4368"]]},{"id":"72f551e5.be11b","type":"function","z":"2d92cbcd.047714","name":"towatson","func":"if (msg.payload==1)\n    msg.payload = {\"LED\":\"ON\",\"User\":\"User Asleep\",\"Gender\":\"Male\"};\nelse\n    msg.payload = {\"LED\":\"OFF\",\"User\":\"User Awake\",\"Gender\":\"Female\"};\nreturn msg;","outputs":1,"noerr":0,"x":1096.9999961853027,"y":231.9999771118164,"wires":[["fe9f3354.b9373"]]},{"id":"f42cbac7.495368","type":"file","z":"2d92cbcd.047714","name":"picture1","filename":"/home/pi/Desktop/PiCamera/test.jpg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":485.16668701171875,"y":239.33331108093262,"wires":[[]]},{"id":"1593105a.4bc29","type":"ui_chart","z":"2d92cbcd.047714","name":"Time Wise Analysis","group":"b2c765b6.88e808","order":1,"width":0,"height":0,"label":"Time Wise Analysis","chartType":"bar","legend":"false","xformat":"Y-M-D","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1141.8000984191895,"y":150.00002002716064,"wires":[[]]},{"id":"2eabe9c0.5a4cc6","type":"ui_group","z":"","name":"Line Chart","tab":"ffd7393a.d90038","disp":true,"width":"11","collapse":false},{"id":"e3dfd9d.eecbf28","type":"board-config","z":"","board":"GrovePi"},{"id":"a5dbc068.31a46","type":"sqlitedb","z":"","db":"myDB","mode":"RWC"},{"id":"3e0f8eca.7d07b2","type":"sqlitedb","z":"","db":"myDB"},{"id":"103ed3df.7b566c","type":"wiotp-credentials","z":"","name":"Send to IBM Watson ","org":"1vijhf","serverName":"","devType":"State","devId":"Drive-Safe","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"fe2e39be.873108","type":"twilioConfig","z":"","name":"twilioConfig"},{"id":"b2c765b6.88e808","type":"ui_group","z":"","name":"Camera","tab":"ffd7393a.d90038","disp":true,"width":"11","collapse":true},{"id":"ffd7393a.d90038","type":"ui_tab","z":"","name":"Chart","icon":"","disabled":false,"hidden":false}]